.wrapper {
  background-image: linear-gradient(#e3f0f6, #e7f4f5);
}
.heading {
  font-size: 70px;
  font-weight: 400;
}
.btnInfo {
  background-color: #2d89ff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  padding: 15px 20px 15px 20px;
}
.btnInfo:hover {
  background-color: #2d88ffc4 !important;
}
.btnInfo:hover {
  background-color: #2d88ffa9;
}
.paragaraph {
  font-weight: 400;
  font-style: 16px;
  line-height: 19.36px;
}
.bgImage {
  background-image: url("../images/headerBg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
