.btnInfo {
  background-color: #642dff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  padding: 15px 20px 15px 20px;
}
.btnInfo:hover {
  background-color: #2d88ffc4 !important;
}
.addDoctor {
  width: 229px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
.addDoctor p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  position: relative;
}
.addDoctor .image {
  object-fit: cover;
  width: 73% !important;
  height: 40px !important;
  min-width: 73% !important;
}
.gradient1 {
  width: 189px;
  height: 14px;
  background: linear-gradient(
    90deg,
    rgba(45, 137, 255, 0.57) 0%,
    rgba(45, 137, 255, 0) 100%
  );
  border-radius: 50px;
  margin: 20px 0;
}
.gradient2 {
  width: 189px;
  height: 14px;

  background: linear-gradient(
    90deg,
    rgba(45, 137, 255, 0.3) 0%,
    rgba(45, 137, 255, 0) 100%
  );
  border-radius: 50px;
  margin: 20px 0;
}
.headingCount {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  /* 2logo */

  color: #642dff;
}
.paraCount {
  font-weight: 400;
  font-size: 12px;
  text-align: center;

  color: #575757;
}
.wrapper {
  position: relative;
}
.wrapper .abs {
  position: absolute;
  top: -150px;
  left: 100px;
}
.btnAbs {
  position: relative;
}
.btnInfo {
  position: absolute;
  top: -13px;
  width: 199px;
  left: 311px;
}
.addDoctorWrapper {
  position: relative;
}
.addDoctor {
  position: absolute;
  top: 0px;
  left: 724px;
}
.counterWidth {
  width: 151px;
}
.counterCountWrapper {
  margin-left: -63px;
}
.couterCount {
  width: 506px;
}
