.heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #642dff;
}
.subheading {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #1e1e1e;
}
.wrapper {
  margin-top: 80px;
}
